
.panel{
      background-color: #f1f1f1;
}

.profile-area img {
  max-width: 150px;
  margin-bottom: 20px;
}

.panel-body h3 {
  margin-top: 0;
}

.course-selection {
  margin-top: 30px;
  margin-bottom: 30px;
}

.present {
    /* Add shadows to create the "card" effect */

    transition: 0.3s;
    width: 100%;
}

.float{
      float: left;
          width: 28.99999%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          background-color: #fff;
        margin:20px;
}
.float:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:20px;

}

.btn-width{
  display: block;
  border: none;
  width: 100%;
  margin-top: 20px;
  outline:none;
  height: 50px;
  border-radius: 0px;
}
